.About {
  text-align: center;
}

.About {
  & p {
    margin: 0.4rem;
  }
}

.AboutLogo {
  height: 40vmin;
  animation: App-logo-spin infinite 20s linear;
}

.AboutHeader {
  background-color: lightblue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
